[submodule "openarm_isaac_lab"]
	path = openarm_isaac_lab
	url = git@github.com:sainavaneet/openarm_isaac_lab.git
	branch = main
[submodule "MambaVLA"]
	path = MambaVLA
	url = git@github.com:sainavaneet/MambaVLA.git
	branch = model
